form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 0 4px;
}

form .input {
  position: relative;
  width: 100%;
}
.input input {
  width: 100%;
  min-height: 40px;
  padding: 0 2rem 0 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #f6fafc;
  color: #3b3b3b;
  font-weight: 500;
}

.input input::placeholder {
  font-weight: 200;
  color: #a3a3a3;
  font-size: 1rem;
}

.input svg {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  color: #f44336;
}

.input .dropdown {
  z-index: 10;
  position: absolute;
  left: 10px;
  top: 100%;
  /* transform: translateX(-50%); */
  width: 100%;
  max-width: 350px;
  min-height: 100px;
  max-height: 400px;
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  border-top: 1px solid #e7e7e7;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

/* scrollbar styles */
.input .dropdown::-webkit-scrollbar {
  width: 6px;
}

.input .dropdown::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 20px;
}

.input .dropdown li:before {
  /* content: "\1F372"; */
  content: "🍽️";
  content: "🍲";
  display: inline-block;
  margin-right: 8px;
  font-family: "montserrat", sans-serif;
}

.input .dropdown li {
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.7;
  cursor: pointer;
}

.input .dropdown div {
  transition: 200ms;
  border-bottom: 1px dotted #e7e7e7;
  margin-bottom: 1rem;
}

.input .dropdown div:last-child {
  border: none;
  margin-bottom: 0;
}
.input .dropdown div:hover {
  transform: translateX(4px);
}

.input .dropdown li p {
  font-size: 0.6rem;
  color: #797979;
  font-family: monospace;
}

.input .dropdown.show {
  display: block;
}

form button {
  flex: 0.5;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  background: #fdd806;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1a1919;
  font-family: "Montserrat", sans-serif;
  transition: background 200ms;
  padding: 0 10px;
}

form button:hover {
  background: #fdd806e0;
}

@media (max-width: 520px) {
  .input input {
    font-size: 0.9rem;
    min-height: 35px;
  }

  .input input::placeholder {
    font-size: 0.8rem;
  }

  .input svg {
    font-size: 0.78rem;
  }

  form button {
    font-size: 0.75rem;
  }
}
