.Recipe {
  padding: 4rem 0;
}

.Recipe .title {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Recipe .title img {
  width: 120px;
}

.Recipe .title h1 {
  font-family: "WindSong", cursive;
  text-transform: capitalize;
  font-size: 3.2rem;
  letter-spacing: 2px;
  color: rgb(118, 120, 122);
}

@media (max-width: 480px) {
  .Recipe .title h1 {
    font-size: 2.3rem;
  }

  .Recipe .title img {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .Recipe .title h1 {
    font-size: 2rem;
  }

  .Recipe .title img {
    width: 90px;
  }
}

.Recipe__container {
  position: relative;
  height: 600px;
  overflow-y: scroll;
  width: 90%;
  max-width: 984px;
  margin: 3rem auto;
  box-shadow: 0 4px 8px rgb(212, 212, 212);
  padding: 2rem 1rem;
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  gap: 3rem 1.5rem;
}

/* scrollbar styles */
.Recipe__container::-webkit-scrollbar {
  width: 6px;
}

.Recipe__container::-webkit-scrollbar-thumb {
  background: #cde4e4f6;
  border-radius: 20px;
}
/* .Recipe__container::-webkit-scrollbar-track {
  background-color: #9da5a5e3;
  border: 2px solid rgb(161, 171, 173);
} */
/* .Recipe__container::-webkit-scrollbar-button {
  display: block;
  background-color: #9da5a5e3;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  height: 8px;
} */

/* .Recipe__container::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg");
}

.Recipe__container::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg");
} */

.Recipe__container .col1 .sticky {
  position: sticky;
  top: 0;
}

.Recipe__container .col1 h3 {
  font-family: "montserrat", sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  max-width: 90%;
  color: rgb(50, 51, 51);
}

.Recipe__container .col1 .more {
  margin-block: 1rem;
}

.Recipe__container .col1 p {
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1.3px;
  line-height: 1.8;
  color: rgb(88, 95, 100);
  font-size: 0.9rem;
}

.Recipe__container .col1 p span {
  font-weight: initial;
  letter-spacing: initial;
  color: rgb(240, 45, 20);
}

.Recipe__container .col1 a span,
.Recipe__container .col2 a {
  color: #6b068a;
  text-decoration: underline;
  transition: 200ms;
}

.Recipe__container .col1 a span:hover,
.Recipe__container .col2 a:hover {
  color: #6b068a8f;
}

.Recipe__container .col1 .img__container {
  height: 350px;
  position: relative;
}

.col1 .img__container svg {
  position: absolute;
  bottom: 16px;
  right: 20px;
  font-size: 1.5rem;
}

.Recipe__container .col1 .img__container img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.Recipe__container .btnContainer {
  position: sticky;
  top: 0;
  transform: translateY(-40%);
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  padding-block: 2.5rem 1rem;
  background: white;
}
.Recipe__container .btnContainer button {
  outline: none;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-family: "montserrat", sans-serif;
  border: 2px solid #067c9c;
  background: transparent;
  color: #078eb4;
  cursor: pointer;
  letter-spacing: 1px;
}

.Recipe__container .btnContainer .isActive {
  color: white;
  background: #067c9c;
}

.Recipe__container .col2 .instructions p {
  color: #5a6166;
  font-size: 0.9rem;
  line-height: 2.5;
  font-family: "montserrat", sans-serif;
}

.Recipe__container .col2 .instructions a {
  display: inline-block;
  margin-top: 4rem;
  font-size: 0.88rem;
  font-style: italic;
}
.Recipe__container .col2 .instructions a span {
  font-style: normal;
}

.Recipe__container .col2 .ingredientsContainer {
  display: flex;
  gap: 3rem 2rem;
  justify-content: space-between;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

.Recipe__container .col2 .ingredientsContainer p {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "montserrat", sans-serif;
  color: rgb(80, 79, 79);
}
.Recipe__container .col2 .ingredientsContainer ul {
  flex: 1;
  width: 100%;
}

.Recipe__container .col2 .ingredientsContainer ul li {
  list-style-type: decimal;
  list-style-position: inside;
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 8px;
  color: rgb(87, 86, 86);
}
