.Recipe {
  padding: 4rem 0;
}

.Recipe__container {
  width: 90%;
  max-width: 1120px;
  margin: 3rem auto;
  box-shadow: 0 4px 8px rgb(212, 212, 212);
  min-height: 50vh;
  padding: 2rem 10px;
  border-radius: 20px;
}

.Recipe .title {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Recipe .title img {
  width: 120px;
}

.Recipe .title h1 {
  /* font-family: "Rochester", cursive; */
  font-family: "WindSong", cursive;
  text-transform: capitalize;
  font-size: 3.2rem;
  letter-spacing: 2px;
  color: rgb(118, 120, 122);
}
