.noMeal {
  padding: 1rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.noMeal p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: monospace;
}

.noMeal p a {
  font-weight: 600;
  font-family: monospace;
  text-decoration: underline;
}

.noMeal a:hover {
  color: #f44336;
}

@media (max-width: 390px) {
  .noMeal p {
    font-size: 0.9rem;
  }
}
