/* NoFav Styles */
.noFavorites {
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.noFavorites img {
  width: 120px;
  height: 120px;
  text-align: center;
}

.noFavorites p {
  font-family: monospace;
  font-size: 1.2rem;
  color: rgb(87, 87, 87);
  font-weight: 600;
}

/* Favorites Styles */
.Fav__Container {
  min-height: 100vh;
}
.Fav__Header {
  width: 90%;
  max-width: 874px;
  margin: 4rem auto 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid #cececea6;
  text-align: center;
  text-transform: capitalize;
  color: #01416b;
  font-family: monospace;
  font-weight: 300;
  font-size: 1.2rem;
}

.removeAllBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.removeAllBtnWrapper button {
  border: none;
  outline: none;
  background: transparent;
  color: #d62418;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: 200ms;
}
.removeAllBtnWrapper button:hover {
  color: #d62518be;
}

.removeAllBtnWrapper button svg {
  font-size: 1.2em;
}

.removeAllBtnWrapper a svg {
  color: #d62518be;
  font-size: 1.3em;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 3rem;
  margin: 2rem;
}
@media (max-width: 620px) {
  .meals {
    gap: 2rem;
  }
}

.favorites .singleMeal {
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(156, 168, 175);
  transition: all 300ms ease-in-out;
  max-width: 400px;
}

@media (max-width: 576px) {
  .favorites .singleMeal {
    max-width: 100%;
  }
}

.favorites .singleMeal:hover {
  box-shadow: 0px 2px 7px rgb(158, 169, 175);
}

.favorites .singleMeal .image {
  overflow: hidden;
  width: 100%;
  height: 15rem;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.favorites .image .category {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.295);
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-transform: capitalize;
  z-index: 1;
  pointer-events: none;
}

.favorites .image .category span {
  color: white;
}

.favorites .image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 149, 0.1),
    rgba(233, 255, 32, 0.1)
  );
  pointer-events: none;
  transform: scale(0);
  transition: transform 300ms ease;
  display: grid;
  place-items: center;
}
.favorites .image:hover .overlay {
  transform: scale(1);
}

.favorites .image .overlay svg {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.favorites .singleMeal .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 300ms ease;
}

.favorites .singleMeal .image img:hover {
  transform: scale(1.1);
}

.favorites .singleMeal footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorites .singleMeal footer h3 {
  color: #3a3a3a;
  text-transform: capitalize;
  font-family: "montserrat", sans-serif;
  margin-block: 5px;
  max-width: 90%;
}

.favorites .singleMeal footer svg {
  font-size: 1.5rem;
  color: #d62418;
  cursor: pointer;
  transition: 300ms;
}

.favorites .singleMeal footer svg:hover {
  color: #d62518bb;
}

/* Modal Style */
.Modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 20;
}

.Modal__container .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 450px;
  padding: 20px;
  min-height: 100px;
  /* border-radius: 5px; */
  background: #fffffffa;
}

.Modal__container .modal svg {
  position: absolute;
  top: 0;
  right: 0;
  /* border-radius: 0 5px 0 0; */
  color: #a30f04;
  font-size: 1.2rem;
  transition: 200ms;
  width: 30px;
}

.Modal__container .modal svg:hover {
  background: #e02518;
  color: white;
}

.Modal__container .modal h3 {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "montserrat", sans-serif;
  word-spacing: 0.4rem;
}

@media (max-width: 480px) {
  .Modal__container .modal h3 {
    line-height: 1.5;
    font-size: 0.75rem;
    word-spacing: 0.2rem;
  }
  .Fav__Header {
    font-size: 0.99rem;
    word-spacing: 0.5rem;
    letter-spacing: 1px;
  }
}

.modal .modal_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: 2rem;
}

.modal .modal_btn button {
  padding: 0.1rem 0.5rem;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.modal .modal_btn button:first-of-type {
  background: rgb(7, 124, 7);
}
.modal .modal_btn button:last-of-type {
  background: #e02518;
}
