.main__Footer {
  margin-top: 5rem;
  background: white;
  padding: 1.5rem;
  border-top: 1px solid #eeeeee;
}

.main__Footer p {
  text-align: center;
  font-family: san-serif;
  font-size: 0.97rem;
  word-spacing: 1px;
  color: rgb(99, 99, 99);
}

.main__Footer p span {
  font-family: san-serif;
  font-weight: 600;
}

@media (max-width: 390px) {
  .main__Footer p {
    font-size: 0.75rem;
    word-spacing: normal;
  }
}
