*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f6fafc;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  letter-spacing: 1px;
}

img {
  display: block;
  width: 100%;
}
