*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Rochester', cursive;
font-family: 'WindSong', cursive; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  letter-spacing: 1px;
}

/* h1 {
  font-size: 3rem;
  color: hsl(200, 75%, 70%);
  color: #0890ba;
  color: #0ab6eb;
} */

.container {
  width: 80%;
  max-width: 1240px;
}

body{
  height: 400vh;
  background: rgb(246, 250, 252);
}